<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="style.css" rel="stylesheet" type="text/css"/>
		<script src="script.js" defer></script>
		<title>Login</title>
	</head>
	<body>
	<a href="../MAIN/main.html"><img src="../media/logo.png"></a>
		<div id="wrapper">
			<h3>Login</h3>

				<div>Logine</div>
				<input>

				<div>Password</div>
				<input type="password">

				<a href="../reset/reset.html" class="min_text" target="_blank">Reset password</a>
				<a href="../create/create.html" class="min_text" target="_blank">New account</a>

			<a href="../MAIN/main.html" id="login" target="_blank">Login</a>
		</div>
	</body>
</html>
