<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="style.css" rel="stylesheet" type="text/css"/>
		<script src="script.js" defer></script>
		<title>Reset password</title>
	</head>
	<body>
	<a href="../MAIN/main.html"><img src="../media/logo.png"></a>
		<div id="wrapper">
			<h3>Reset password</h3>

				<div>Logine</div>
				<input>

				<a href="../create/create.html" class="min_text" target="_blank">New account</a>
				<a href="../login/login.html" class="min_text" target="_blank">Login</a>

			<a href="find/find.html" id="login" target="_blank">Find</a>
		</div>
	</body>
</html>
