<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src='script.js' defer></script>
	<link href="style.css" rel="stylesheet" type="text/css"/>
	<title>ELMORE STREAM IT</title>
</head>
<body>
	<header>
		<a href="/" class="logo"><img src='../../media/logo.png'></a>
			
		<form action="">
			<input placeholder='Введите ваш запрос'>
			<a href='../find/find.html' target='_blank' class='find'>Find</a>
		</form>

		<div class="logout">
			<a href='../create/create.html' class='sign' id="create">Create Account</a>
			<hr id='hr1'>
			<a href='../login/login.html' class='sign' id="login">Login</a>
		</div>
		<hr id='hr2'>

	</header>
</body>
</html>