<!DOCTYPE html>
 <html>
	<head>
		<meta charset="UTF-8">
		<script src='script.js' defer></script>
		<link href="style.css" rel="stylesheet" type="text/css"/>
		<title>ELMORE STREAM IT</title>
	</head>
	<body>
		<div id='header'>
			<a href="/" class="logo"><img src='../media/logo.png'></a>
			
			<form action="">
				<input placeholder='Введите ваш запрос'>

				<a href='../find/find.html' target='_blank' id='find'>Find</a>
			</form>

			<div class="logout">
				<a href='../create/create.html' class='user' id="create">Create Account</a>
				
				<hr id='hr1'>
				
				<a href='../login/login.html' class='user' id="login">Login</a>
			</div>
			
			<hr id='hr2'>
		</div>



		<h3>Suggested</h3>
		
		<div id='wrapper'>
			
			<div class="video"><video></video></div>
			<div class="video"><video></video><p><h5>Big fale</h5></p><p><h6>Posted <a href="#">Gumball</a></h6></p></div>
			<div class="video"><video></video></div>
			<div class="video"><video></video></div>
			<div class="video"><video></video></div>
			<div class="video"><video></video></div>
			<div class="video"><video></video></div>
			<div class="video"><video></video></div>
			<div class="video"><video></video></div>
			<div class="video"><video></video></div>
			<div class="video"><video></video></div>
			<div class="video"><video></video></div>
			<div class="video"><video></video></div>
			<div class="video"><video></video></div>
			<div class="video"><video></video></div>
			
		</div>
		
		<div id='footer'>
			OOO "Elmore.Cor"
		</div>
		
	</body>
</html>