<!DOCTYPE html>
 <html>
	<head>
		<meta charset="UTF-8">
		<script src='script.js' defer></script>
		<link href="style.css" rel="stylesheet" type="text/css"/>
		<title>William Exam Fail</title>
	</head>
	<body>
		<div id='header'>
			<a href="../MAIN/main.html" target="_blank"><img src="../media/logo.png"></a>
			
			<input placeholder='Введите ваш запрос'>
			
			<a ghref='find/find.html' target='_blank' id='find'>Find</a>
			
			<hr id='hr1'>
			<hr id='hr2'>
			
			<a href='#' class='login'>Create Account</a>
			<a href='#' class='login'>Gumball12557 user</a>
		</div>
		
		<div id="content">
			<video src="#"></video>
			<div id="sidebar"></div>
		</div>
		
		<div id='footer'>
			OOO "Elmore.Cor"
		</div>
	</body>
</html>
